.app_wrap{
  color: red;
  border: 1px solid #777;
  background-color: aquamarine;
}

.app_wrap > .app_item {
  color: blueviolet;
}



/* global키워드를 붙이면, 그냥 사용하면 됩니다. */
:global .title{
  color:burlywood;
}



